[submodule "Fork/NoahHotell"]
	path = Fork/NoahHotell
	url = https://github.com/perXautomatik/AHK-for-my-needs.git
[submodule "Fork/AppendToClipboard"]
	path = Fork/AppendToClipboard
	url = https://gist.github.com/perXautomatik/62718fb9a818a3bbe6628f35909f8266
